{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="mt-2">File encryption for Uploads.</h3>
        <p>Upload file here and they will be encrypted for there safety on the server incase they are accessed by wrong hands</p>
        <div class="col-4">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="my_file"><strong>File</strong></label>
                <input name="my_file" type="file" class="form-control">
                <input type="submit" class="btn btn-primary mt-3" value="Upload">                
            </form>
        </div>
    </div>
{% endblock content %}
